<nav class="navbar navbar-dark bg-info navbar-expand-lg">
  <a class="navbar-brand" href="/">
    <img src="/assets/img/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="" />
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/posts">帖子列表</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/chatroom">聊天室</a>
      </li>
    </ul>

    <ul id="navbar-nav-right" class="navbar-nav">

    </ul>
  </div>
</nav>